@using PlanIt.Common
@using PlanIt.Data.Models
@using PlanIt.Web.ViewModels.Management.ProgressStatuses
@using PlanIt.Web.ViewModels.Management.Projects
@model ProjectEditInputModel

@{
    this.ViewData["Title"] = "Edit";
    var selectedUsers = (IEnumerable<PlanItUser>)this.ViewData["Users"];
    var statuses = (IEnumerable<ProjectProgressStatusViewModel>)this.ViewData["Statuses"];
}

<div class="text-center">
    <h3 class="display-5 p-4 badge-secondary">Edit Project</h3>
    <div class="container p-4">
        <hr class="bg-dark" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger text-center"></div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    <i class="fab fa-accusoft fa-2x" style="line-height:1.25;"></i>
                </div>
                <div class="col-4">
                    <textarea class="form-control" asp-for="@Model.Name"></textarea>
                </div>
                <label asp-for="@Model.Name" class="col-4 col-form-label text-left"></label>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    <i class="fas fa-calendar-check fa-2x" style="line-height:1.25;"></i>
                </div>
                <div class="col-4">
                    <input type="date" class="form-control" asp-for="@Model.StartDate">
                </div>
                <label asp-for="@Model.StartDate" class="col-4 col-form-label text-left"></label>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    <i class="fas fa-calendar-check fa-2x" style="line-height:1.25;"></i>
                </div>
                <div class="col-4">
                    <input type="date" class="form-control" asp-for="@Model.DueDate">
                </div>
                <label asp-for="@Model.DueDate" class="col-4 col-form-label text-left"></label>
            </div>
            @if (!this.User.IsInRole(GlobalConstants.UserRoleName))
            {
                <div class="form-group row">
                    <div class="col-4 text-right">
                        <i class="fas fa-user-edit fa-2x" style="line-height:1.25;"></i>
                    </div>
                    <div class="col-4">
                        <select asp-for="@Model.ProjectManagerId" class="custom-select mr-sm-2">
                            <option value="0" selected>Choose client...</option>
                            @foreach (var user in selectedUsers)
                            {
                                <option value="@user.Id">@user.Email</option>
                            }
                        </select>
                    </div>
                    <label asp-for="@Model.ProjectManagerId" class="col-4 col-form-label text-left"></label>
                </div>
                <div class="form-group row">
                    <div class="col-4 text-right">
                        <i class="fas fa-edit fa-2x" style="line-height:1.25;"></i>
                    </div>
                    <div class="col-4">
                        <select asp-for="@Model.ProgressStatusId" class="custom-select mr-sm-2">
                            <option value="0" selected>Choose client...</option>
                            @foreach (var status in statuses)
                            {
                                <option value="@status.Id">@status.Name</option>
                            }
                        </select>
                    </div>
                    <label asp-for="@Model.ProgressStatusId" class="col-4 col-form-label text-left"></label>
                </div>
            }
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>