@model PlanIt.Web.ViewModels.Administration.Invites.InvitesListViewModel

@{
    ViewData["Title"] = "Invites";
}

@section Styles {
    <environment names="Development">
        <!-- Ionicons -->
        <link href="~/lib/ionicons/css/ionicons.css" rel="stylesheet" asp-append-version="true" />
        <!-- DataTables -->
        <link href="~/lib/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/datatables-responsive/css/responsive.bootstrap4.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <!-- Font Awesome Icons -->
        <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- DataTables -->
        <link href="~/lib/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary btn-sm"
                       href="#createInvite"
                       data-toggle="modal"
                       id="create"
                       onclick="Create()">
                        <i class="fas fa-user-lock">
                        </i>
                        Invite user
                    </a>
                </div>
                <div class="card-body">
                    <table id="table" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Purpose</th>
                                <th>Has invitation</th>
                                <th>Invitation expires on</th>
                                <th>Request expires on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var invite in Model.Invites)
                            {
                                <tr>
                                    <td id="email">@invite.Email</td>
                                    <td>@invite.Purpose</td>
                                    <td>@invite.HaveInvitation</td>
                                    <td>
                                        <time datetime="@invite.ExpiredOn?.ToString("O")">
                                            @(invite.ExpiredOn == null ? "-" : invite.ExpiredOn?.ToString("dd/MM/yyyyHH:mm"))
                                        </time>
                                    </td>
                                    <td>
                                        <time datetime="@invite.RequestExpiredOn.ToString("O")">
                                            @invite.RequestExpiredOn.ToString("dd/MM/yyyyHH:mm")
                                        </time>
                                    </td>
                                    <td>
                                        @if (!invite.IsInvited && invite.RequestExpiredOn >= DateTime.UtcNow)
                                        {
                                            <a class="btn btn-primary btn-sm"
                                               href="#approveInvite"
                                               data-toggle="modal"
                                               id="approve"
                                               onclick="Approve()">
                                                <i class="fas fa-lock-open">
                                                </i>
                                                Approve
                                            </a>
                                        }
                                        <a class="btn btn-primary btn-sm"
                                           href="#extendInvite"
                                           data-toggle="modal"
                                           id="extend"
                                           onclick="Extend()">
                                            <i class="fas fa-pencil-alt"></i>
                                            Extend
                                        </a>
                                        <a class="btn btn-danger btn-sm"
                                           href="#deleteInvite"
                                           data-toggle="modal"
                                           id="delete"
                                           onclick="Delete()">
                                            <i class="fas fa-trash"></i>
                                            Delete
                                        </a>
                                        <input type="hidden" asp-for="@invite.Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Email</th>
                                <th>Purpose</th>
                                <th>Has invitation</th>
                                <th>Invitation expires on</th>
                                <th>Request expires on</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ModalCreate -->
<div class="modal fade" id="createInvite" tabindex="-1" role="dialog" aria-labelledby="createModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalTitle">Create invite</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-area="Administration" asp-controller="Invites" asp-action="Create" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-4 text-right">
                            <i class="fas fa-envelope fa-2x" style="line-height:1.25;"></i>
                        </div>
                        <div class="col-4">
                            <input type="email" name="email" class="form-control">
                        </div>
                        <label class="col-4 col-form-label text-left">Email</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 text-right">
                            <i class="fas fa-calendar-check fa-2x" style="line-height:1.25;"></i>
                        </div>
                        <div class="col-4">
                            <input type="datetime-local" class="form-control" name="expiredOn">
                        </div>
                        <label class="col-4 col-form-label text-left">Exipered On</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 text-right">
                            <i class="fas fa-pencil-alt fa-2x" style="line-height:1.25;"></i>
                        </div>
                        <div class="col-4">
                            <textarea class="form-control" name="purpose"></textarea>
                        </div>
                        <label class="col-4 col-form-label text-left">Purpose</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.ModalCreate -->
<!-- ModalApprove -->
<div class="modal fade" id="approveInvite" tabindex="-1" role="dialog" aria-labelledby="approveModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalTitle">Approve confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="textBodyApprove" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="approveForm" method="post">
                    <button type="submit" class="btn btn-danger">Approve</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.ModalApprove -->
<!-- ModalExtend -->
<div class="modal fade" id="extendInvite" tabindex="-1" role="dialog" aria-labelledby="extendModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="extendModalTitle">Extend confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="textBodyExtend" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="extendForm" method="post">
                    <button type="submit" class="btn btn-danger">Extend</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.ModalExtend -->
<!-- ModalDelete -->
<div class="modal fade" id="deleteInvite" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Delete confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="textBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="deleteForm" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.ModalDelete -->

@section Scripts {
    <environment include="Development">
        <!-- DataTables -->
        <script src="~/lib/datatables-bs4/js/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/lib/datatables-responsive/js/dataTables.responsive.js" asp-append-version="true"></script>
        <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <!-- DataTables -->
        <script src="~/lib/datatables-bs4/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
        <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js" asp-append-version="true"></script>
        <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(function () {
            $("#table").DataTable({
                "responsive": true,
                "autoWidth": false,
                "columnDefs": [{
                    "targets": 5,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>
    <script>
        function Delete() {
            let modal = document.querySelector("#deleteInvite");
            let element = event.target;
            let td = element.parentNode;
            let tr = td.parentNode;

            let id = td.querySelector("#invite_Id").value;
            let email = tr.querySelector("#email").innerText;

            let bodyText = modal.querySelector("#textBody");
            bodyText.innerText = `You will delete invite request with email: ${email}. Are you sure?`;

            let path = `/Administration/Invites/Delete/${id}`;
            let deleteForm = modal.querySelector("#deleteForm");
            deleteForm.setAttribute("action", path);
        }
    </script>
    <script>
        function Extend() {
            let modal = document.querySelector("#extendInvite");
            let element = event.target;
            let td = element.parentNode;
            let tr = td.parentNode;

            let id = td.querySelector("#invite_Id").value;
            let email = tr.querySelector("#email").innerText;

            let bodyText = modal.querySelector("#textBodyExtend");
            bodyText.innerText = `Do you really want to extend invite request with 24h for email: ${email}?`;

            let path = `/Administration/Invites/Extend/${id}`;
            let approveForm = modal.querySelector("#extendForm");
            approveForm.setAttribute("action", path);
        }
    </script>
    <script>
        function Approve() {
            let modal = document.querySelector("#approveInvite");
            let element = event.target;
            let td = element.parentNode;
            let tr = td.parentNode;

            let id = td.querySelector("#invite_Id").value;
            let email = tr.querySelector("#email").innerText;

            let bodyText = modal.querySelector("#textBodyApprove");
            bodyText.innerText = `Do you really want to approve invite request with email: ${email}?`;

            let path = `/Administration/Invites/Approve/${id}`;
            let approveForm = modal.querySelector("#approveForm");
            approveForm.setAttribute("action", path);
        }
    </script>
}
