@using PlanIt.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <!-- Font Awesome Icons -->
        <link href="~/lib/font-awesome-free/css/all.css" rel="stylesheet" asp-append-version="true" />
        <!-- icheck bootstrap -->
        <link href="~/lib/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <!-- Font Awesome Icons -->
        <link href="~/lib/font-awesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- icheck bootstrap -->
        <link href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @this.RenderSection("Styles", required: false)

    <environment names="Development">
        <!-- Theme style -->
        <link href="~/lib/admin-lte/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
        <!-- Custom style -->
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <!-- Theme style -->
        <link href="~/lib/admin-lte/css/adminlte.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Custom style -->
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

@this.RenderSection("CustomStyles", required: false)

<body>

    @this.RenderBody()


    <environment names="Development">
        <!-- jQuery -->
        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <!-- Bootstrap 4 -->
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
        <!-- AdminLTE App -->
        <script src="~/lib/admin-lte/js/adminlte.js" asp-append-version="true"></script>
        <!-- Custom js -->
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <!-- jQuery -->
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <!-- Bootstrap 4 -->
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <!-- AdminLTE App -->
        <script src="~/lib/admin-lte/js/adminlte.min.js" asp-append-version="true"></script>
        <!-- Custom js -->
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)

</body>

</html>
